<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verkauf</title>
</head >
<body >
<div style="text-align: center;">
    <form action="" method="post" >
        <div class="form-group" >
            <label for="SelectProduct">Produktauswahl </label>
            <select class="form-control" id="SelectProduct" name="produkt">
                <ul th:each="produkt : ${produkte}" th:remove="all-but-first">
                    <option> <span th:text="${produkt.getName()}"> </span>  </option>
                </ul>
            </select>
        </div>
        <div><input name="anzahl" placeholder="Anzahl" type="number"></div>
        <div><input class="btn btn-primary" type="submit" name="add" value="Zum Bestand hinzufügen"></div>
    </form>
</div>
</body>
</html>