<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rechnungen</title>
</head>
<body>
    <ul th:each="bestellung : ${bestellungen} th:remove="all-but-first">
        <li><a th:href="@{/details(bestellung=${bestellung.id})}" href="#">
            <span th:text="${bestellung.id}">1234</span>
            <span th:text="${bestellung.kunde.name}">Max Muster GmbH</span>
            <span th:text="${bestellung.datum}">01.01.2000</span>
        </a>

        </li>
    </ul>
</body>
</html>